body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.formclass {
  margin-left: 15px;
  border: 1px solid black;
}

.formclass .row,
.addtable {
  padding: 5px;
}

.select {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.markfield {
  padding: 0 !important;
  height: 25px;
  width: 60px;
}

.optiondiv {
  flex-direction: column;
}

.tableclass tbody tr td {
  padding: 0 !important;
  ;
}


/* 
.tableclass thead tr th {
padding: 0 !important;
align-items: center;
} */

.setform {
  border: 1px solid black;
  padding: 5px;
}
.center{
  justify-content: center;
}
.add_btn {
  margin-left: 5px;
}

.left_view h3 {
  font-size: 21px;
}

.left_view p {
  font-weight: 600;
}

.left_view span {
  font-weight: 400;
}

.right_view p {
  font-weight: 600;
}

.right_view span {
  font-weight: 400;
}

.image-div {
  width: 200px;
  height: 150px;
  border: 1px dashed lightgray;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.previewImg {
  width: 200px;
  height: 150px;
  border-radius: 8px;
}